[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
flake8 = "*"
coveralls = "*"
coverage = "*"
pytest-cov = "*"

[packages]

[requires]
python_version = "3.7"

[scripts]
flake8 = "flake8 --ignore E501 pytidy && flake8 --ignore E501 tests"